/**
 * ================
 * BASE
 * ================
 */


/* {
   outline: 1px solid red;
}*/

a {
  color: #800000;
}

a .logo {
  width: 100%;
  height: 100%;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

article {
  padding-top: 52px;
  -webkit-transition: background-image 0.2s ease;
  transition: background-image 0.2s ease;
}
@media screen and (max-width: 720px) {
  .disappear-onresize {
    display: none;
  }
}

body {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01rem;
}

h1 {
  margin-bottom: 16px;
  font-size: 68px;
  font-weight: bold;
  line-height: 90px;
  text-shadow: 0px 1px 16px rgba(0, 0, 0, 0.38)
}
@media screen and (max-width: 421px) {
  h1 {
    font-size: 52px;
    line-height: 64px;
  }
}

h2 {
  margin-bottom: 16px;
  font-size: 42px;
  font-weight: bold;
  line-height: 58px;
}
@media screen and (max-width: 421px) {
  h2 {
    font-size: 30px;
    line-height: 35px;
  }
}


/**
 * ================
 * MODULES
 * ================
 */


.btn-ghost--large {
  text-align: center;
  padding: 24px 32px;
  font-size: 20px;
  font-weight: bold;
  background: none;
  border: 4px solid #FBB240;
  border-radius: 0;
  color: #FBB240;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.btn-ghost--medium {
  text-align: center;
  width: 200px;
  padding: 10px 15px;
  margin: 12px;
  font-size: 18px;
  font-weight: bold;
  background: none;
  border: 4px solid #FBB240;
  border-radius: 0;
  color: #FBB240;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 512px) {
  .btn-ghost--medium {
    width: 175px;
    margin: 5px;
    font-size: 15px;
  }
}

.btn-ghost--small {
  font-weight: bold;
  border: 4px solid #fff;
  border-radius: 0;
}

.centerbot {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
}

.copyright {
  position: absolute;
  bottom: 0;
  margin-bottom: 16px;
  font-size: 10px;
  color: #fff;
  opacity: 0.54;
  text-align: right;
}
@media screen and (max-width: 575px) {
  .copyright {
    font-size: 10px;
  }
}

.custom-article__body {
  font-size: 20px;
  line-height: 32px;
}
@media screen and (max-width: 575px) {
  .custom-article__body {
    font-size: 16px;
    line-height: 26px;
  }
}

.custom-article__subheader {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #800000;
}

.custom-article__subheader--orange {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffaa00;
}

.icon-arrow {
  position: absolute;
  bottom: 0;
  margin-bottom: 24px;
}

.parallax {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (max-width: 575px) {
  .parallax {
    background-attachment: initial;
  }
}

.sidebar-experimental {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0;
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
  .sidebar-experimental {
    right: 3%;
  }
}
@media screen and (min-width: 1200px) {
  .sidebar-experimental {
    right: 5%;
  }
}
@media screen and (min-width: 1440px) {
  .sidebar-experimental {
    right: 8%;
  }
}
@media screen and (min-width: 2560px) {
  .sidebar-experimental {
    right: 10%;
  }
}

.sidebar-experimental ul {
  margin-bottom: 0;
}

.sidebar-experimental li {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 13px;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  color: #fff;
  list-style-type: none !important;
}

.sidebar-experimental a {
  color: #fff;
  opacity: 0.54;
  padding-right: 5px;
}

.subheader {
  font-size: 26px;
  line-height: 42px;
  opacity: 0.54;
  text-shadow: 0px 1px 16px rgba(0, 0, 0, 0.38);
}

.line--top {
  position: absolute;
  right: 0;
  top: -56px;
  width: 2px;
  height: 48px;
  background-color: #fff;
  opacity: 0.54;
}

.line--end {
  position: absolute;
  right: 0;
  bottom: -56px;
  width: 2px;
  height: 48px;
  background-color: #fff;
  opacity: 0.54;
}

@media screen and (max-width: 575px) {
  .quote {
    font-size: 26px;
    line-height: 42px;
  }
}


/**
 * ================
 * STATE
 * ================
 */


.btn-ghost--large:hover {
  color: #000 !important;
  background-color: #FBB240;
}

.btn-ghost--medium:hover {
  color: #000 !important;
  background-color: #FBB240;
}

.btn-ghost--small:hover {
  color: #800000 !important;
  background-color: #fff;
}

.sidebar-experimental a:hover {
  color: #ff0000;
  text-decoration: none;
  opacity: 1;
}


/**
 * ================
 * THEME
 * ================
 */

.profile-pic {
  width: 65%;
  height: auto;
}

.navbar {
  padding-right: 0;
  padding-left: 0;
}

.navbar a {
  color: #fff !important;
}

.nav-link{
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  text-align: center;
}

.nav-item {
  padding-right: 0px;
}

.row {
  margin-right: 0;
}

/* partner article */
.logo {
  width: 30%;
  height: 30%;
  padding: 3px;
}

.mini-logo {
  width: 30%;
  height: 30%;
  padding: 3px;
}

.aboutheader {
  margin: 0;
}

/* sidebar-experimental navigation buttons */
.sidebarNavButton {
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: right;
}

/* header navigation links */
.headerNav:hover {
  color: black !important;
  border-radius: 10px;
  transition: 0.3s ease;
  background-color: white;
}

.show-onresize {
	display: none;
}
@media screen and (max-width: 720px) {
  .show-onresize {
    display: block;
  }
}